# Ignore build artifacts.
/Build
tags/
.DS_Store
*.pyc
*.bak
BuildConfig.conf

# Ignore SelfDescribingEnvironment artifacts.
*_extdep/

# Ignore our repos from CI
/MU_BASECORE/
/Common/

# Ignore unused UDK PKGs.
/ArmPkg/
/ArmPlatformPkg/
/ArmVirtPkg/
/BaseTools/
/Conf/
/CryptoPkg/
/DynamicTablesPkg/
/EmbeddedPkg/
/EmulatorPkg/
/FatPkg/
/FmpDevicePkg/
/MdeModulePkg/
/MdePkg/
/NetworkPkg/
/OvmfPkg/
/PcAtChipsetPkg/
/SecurityPkg/
/ShellPkg/
/SignedCapsulePkg/
/SourceLevelDebugPkg/
/StandaloneMmPkg/
/UefiCpuPkg/
/UefiPayloadPkg/
