/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

# Repo-specific
/Conf/

# Ignore cloned dependencies
/Common/MU_TIANO
/MU_BASECORE

# Ignore unused UDK PKGs.
/ArmPkg/
/ArmPlatformPkg/
/ArmVirtPkg/
/BaseTools/
/Conf/
/CryptoPkg/
/DynamicTablesPkg/
/EmbeddedPkg/
/EmulatorPkg/
/FatPkg/
/FmpDevicePkg/
/MdeModulePkg/
/MdePkg/
/NetworkPkg/
/OvmfPkg/
/PcAtChipsetPkg/
/RedfishPkg/
/SecurityPkg/
/ShellPkg/
/SignedCapsulePkg/
/SourceLevelDebugPkg/
/StandaloneMmPkg/
/UefiCpuPkg/
/UefiPayloadPkg/
/UnitTestFrameworkPkg/
